<%= render "shared/header" %>

<div class="contents">
  <div class="first-view">
    <%= image_tag "topimage.png", class:"top-image" %>
    <ul class='budgets-lists'>
      <% if @budgets.present? %>
        <% @budgets.each do |budget| %>
          <li class='list'>
            <div class='list-group'>
              <div class='list-date'>
                <%= budget.first_date %><span>　～　</span><%= budget.last_date %>
              </div>
              <div class='list-budget'>
                <span>予算：</span>
                <%= budget.budgets %><span>円</span>
              </div>
              <div class='list-users'>
                <%= budget.users %><span>人</span>
              </div>
            </div>
          </li>
        <% end %>
      <% else %>
        <li class='list'>
          sample
        </li>
      <% end %>
    </ul>
    <div class='plus-link'>
      <%= link_to image_tag("plus.png", class:"plus-image"), new_budget_path %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>