<div class="contents">
  <%= render "shared/header" %>

  <div class="first-view">
    <div class="left-view">
      <%= image_tag "topimage.png", class:"top-image" %>
      <ul class='budgets-lists'>
        <h5><div class="budget-title">予算一覧</div></h5>
        <% if @budgets.present? && user_signed_in? %>
          <% @budgets.each do |budget| %>
            <li class='list'>
              <div class='list-image'>
                <%= link_to image_tag('note_top.png', class:"note-image"), budget_records_path(budget.id), data: { turbo: false} %>
              </div>
              <div class='list-groups'>
                <div class='list-dates'>
                  <div class='list-date'>
                    <%= budget.first_date %><span>　～　</span><%= budget.last_date %>
                  </div>
                  <div class="more">
                    <div class='list-tag'>
                      <%= image_tag 'arrow_top.png', class:"arrow-image" %>
                    </div>
                    <ul class="more_list">
                      <li>
                        <%= link_to '編集', edit_budget_path(budget.id) %>
                      </li>
                      <li>
                        <%= link_to '削除', budget_path(budget.id), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか?' } %>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class='list-budgets'>
                  <div class='list-budget'>
                    <span>予算：</span>
                    <%= budget.budgets.to_s(:delimited, delimiter: ',') %><span>円</span>
                  </div>
                  <div class='list-users'>
                    <%= budget.users %><span>人</span>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        <% else %>
          <div class="sample-content">
            <span class=sample-title>＜sample＞</span>
          </div>
          <li class='list'>
            <div class='list-heart-image'>
              <%= image_tag "note_top.png", class:"sample-heart"%>
            </div>
            <div class='list-groups'>
              <div class='list-dates'>
                <div class='list-date'>
                  <span>yyyy-mm-dd　～　yyyy-mm-dd</span>
                </div>
                <div class="more">
                  <div class='list-tag'>
                    <%= image_tag 'arrow_top.png', class:"arrow-image" %>
                  </div>
                  <ul class="more_list">
                    <li class="dropdown__list">
                      <span>編集・削除が可能</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class='list-records'>
                <div class='list-record'>
                  <span>予算：XXXXXX円</span>
                  <span>　　＊人（予算共有人数）</span>
                </div>
              </div>
            </div>
          </li>
          <div class="sample-contents">
            <span class="sample-text">☆Add Budgetボタン(画面右側)より予算を追加しましょう！</span><p>
            <span class="sample-text">予算追加後にリスト内のAdd Recordボタンより記録ができます！</span><p>
            <span class=sample-user>※予算の設定にはログインが必要です。</span>
          </div>
          <div class="concepts">
            <span class="concept">予算を設定して、<p>気軽に外食を楽しもう!</span>
          </div>
        <% end %>
      </ul>
    </div>
    <div class="right-view">
      <div class='plus-link'>
        <%= link_to image_tag("plus.png", class:"plus-image"), new_budget_path, data: { turbo: false} %>
      </div>
      <% if user_signed_in?%>
        <div class="favorite-link">
          <%= link_to image_tag("top-heart.png", class:"favorite-image"), "/users/#{current_user.id}/favorites" %>
        </div>
      <% else %>
        <div class="favorite-link">
          <%= link_to image_tag("top-heart.png", class:"favorite-image"), new_user_session_path %>
        </div>
      <% end %>
    </div>
  </div>

  <%= render "shared/footer" %>
</div>
