<%= render "shared/header" %>

<div class="budgets_contents">
  <div class="container">
    <h3>予算を設定</h3>

    <div class="budgets_container">
      <%= form_with(model: @budget, local: true) do |form| %>
        <%= render 'shared/error_messages', model: form.object %>
        <div class='budgets_set'>
          <div class='budgets-date'>
            <span class='budget-date'>期間　　： </span>
            <%= form.text_field :first_date, placeholder: "例）2023/10/1", id: "first_date" %>
            <span>　～　</span>
            <%= form.text_field :last_date, placeholder: "例）2023/10/31", id: "last_date" %>
          </div>

          <div class='budgets-yen'>
            <span class='budget-yen'>予算　　：</span>
            <%= form.text_field :budgets, placeholder: "例）30000" %>
            <span>円</span>
          </div>
          <div class='budgets-users'>
            <span class="budgets-user">ユーザ数： </span>
            <%= form.text_field :users, placeholder: "例）2" %>
            <span>人</span>
          </div>
          <div class='budgets-btn'>
            <%= form.submit "設定", class:"set-red-btn" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>