<%= form_with(model: [budget, record], url: budget_records_path(budget.id), local: true) do |form| %>
  <%= render 'shared/error_messages', model: form.object %>

  <div class="records_container">
    <div class='records_set'>
      <div class='recording'>
        <div class="weight-bold-text">
          <span class="recording_item">外食日</span>
          <span class="indispensable">必須</span>
        </div>
        <%= form.text_field :recording_date, placeholder: "例）2023-10-01", id: "recording_date", autocomplete: 'off', class: 'recording_date'%>
      </div>
      <div class='recording'>
        <div class="weight-bold-text">
          <span class="recording_item">レストラン名</span>
          <span class="indispensable">必須</span>
        </div>
        <%= form.text_area :restaurant_name, placeholder: "例）サイゼリヤ（必須 20文字まで)", autocomplete: 'off', maxlength:"20", class: 'restaurant_name' %>
      </div>
      <div class='recording'>
        <div class="weight-bold-text">
          <span class="recording_item">使った金額</span>
          <span class="indispensable">必須</span>
        </div>
        <div class='yen'>
          <span class='recording_yen'>￥</span>
          <%= form.text_field :price, placeholder: "例）3600", autocomplete: 'off', class: 'recording_date' %>
        </div>
      </div>
      <div class="recording">
        <div class="weight-bold-text">
          <span class="recording_item">お店の住所（都道府県）</span>
          <span class="indispensable">必須</span>
        </div>
        <%= form.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"record-prefecture"}) %>
      </div>
      <div class='recording'>
        <div class="weight-bold-text">
          <span class="recording_item">お店の住所（市町村）</span>
          <span class="indispensable">必須</span>
        </div>
        <%= form.text_field :city, placeholder: "例）高槻市", autocomplete: 'off', class: 'recording_city' %>
      </div>
      <div class="recording">
        <div class="weight-bold-text">
          <span class="recording_item">利用シーン</span>
          <span class="indispensable">必須</span>
        </div>
        <%= form.collection_select(:situation_id, Situation.all, :id, :name, {}, {class:"select-box", id:"record-situation"}) %>
      </div>
      <div class="recording">
        <div class="weight-bold-text">
          <span class="recording_item">料理ジャンル</span>
          <span class="indispensable">必須</span>
        </div>
        <%= form.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box", id:"record-genre"}) %>
      </div>
      <div class='recording'>
        <div class="weight-bold-text">
          <span class="recording_item">お店のＵＲＬ</span>
          <span class="optional">任意</span>
        </div>
        <%= form.text_area :url, placeholder: "（任意）お店のURLを記述", id: "url-form", autocomplete: 'off', rows:"7" , maxlength:"2000", class: 'url' %>
      </div>
      <div class='record-btn'>
        <%= form.submit "記録", class:"set-record-btn" %>
      </div>
    </div>
  </div>
<% end %>