<%= render "shared/header" %>

<div class="contents">
  <div class="first-view">
    <%= image_tag "subimage.jpg", class:"top-image" %>
    <ul class='records-lists'>
      <% if @records.present? %>
        <% @records.each do |record| %>
          <li class='list'>
            <div class='list-groups'>
              <div class='list-dates'>
                <div class='note-tags'>
                  <div class='list-date'>
                    <%= record.first_date %><span>　～　</span><%= record.last_date %>
                  </div>
                  <div class='note-tag'>
                    <%= link_to image_tag('note_top.png', class:"note-image"), "" %>
                  </div>
                </div>
                <div class="more">
                  <div class='list-tag'>
                    <%= image_tag 'arrow_top.png', class:"arrow-image" %>
                  </div>
                  <ul class="more_list">
                    <li class="dropdown__list">
                      <%= link_to '編集', edit_record_path(record.id) %>
                    </li>
                    <li class="dropdown__list">
                      <%= link_to '削除', record_path(record.id), data: { turbo_method: :delete } %>
                    </li>
                  </ul>
                </div>
              </div>
              <div class='list-records'>
                <div class='list-record'>
                  <span>予算：</span>
                  <%= record.records %><span>円</span>
                </div>
                <div class='list-users'>
                  <%= record.users %><span>人</span>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      <% else %>
        <li class='list'>
          sample
        </li>
      <% end %>
    </ul>
    <div class='plus-link'>
      <%= link_to image_tag("noteplus.png", class:"plus-image"),  new_budget_record_path(@budget.id) %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>