<!DOCTYPE html>
<html>
  <head>
    <title>EatOut!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <h1 class="logo"><a href="/">EatOut!!</a></h1>
          <div class="user_nav">
            <span>ユーザ名
              <ul class="user_info">
                <li>
                  <%= link_to "マイページ", "#", class: :nav__btn %>
                  <%= link_to "ログアウト", "#", data: { turbo_method: :delete }, class: :nav__btn %>
                </li>
              </ul>
            </span>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p class = "copyright">
        Copyright EatOut! 2023.
      </p>
    </footer>
  </body>
</html>
